{% extends 'base.html' %}


{%block content%}

{% include 'home/nav_partial.html' %}






    <div class="container mt-2 mb-2">
        <div class="row g-1">
            
            {% for shop in myshop %}
            <div class="col-md-6">
                <div class="img-container">
                    <img src="{{shop.image.url}}" 
                     style="width: 100%; height: 250px; object-fit: cover;" alt="...">
                    <div class="carousel-caption  d-md-block bg-slider">
                        <h4>{{shop.shop_name}}</h4>
                        <span class="border p-2">{{shop.shop_category}}</span>
                        <p class="mt-2">{{shop.location}}</p>

                        <a href="{% url 'owner-product-list' id=shop.owner.id %}" class="btn btn-custom p-2" style="width: 30%;"><i class="uil uil-store-alt"></i> shop now</a>
                    </div>
                </div>
            </div>

            {% endfor %}

        </div>
    </div>


{%endblock%}