{% extends 'base.html' %}

{%block title %}Category{%endblock title%}

{%block content%}

{% include 'home/nav_partial.html' %}

<div class="mt-2">
    <div class="p-4  bg-category" style="background-image: url('https://images.unsplash.com/photo-1602984338060-bfddce132ebc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');">
        <div class="p-4 text-white bg-slider text-center base-font">
            <h4>All Items</h4>
            <nav aria-label="breadcrumb" class="d-flex justify-content-center">
                <ol class="breadcrumb text-center">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Library</li>
                </ol>
              </nav>
            </div>
        
    </div>
</div>


<div class="container">
    <div class="mt-4">
        <h3 class="base-font">Top Sale</h3>
    </div>

    <div class="splide catsplide">
        <div class="splide__track">
            <ul class="splide__list">
                <li class="splide__slide">
                    <div class="card me-2">
                        <div class="card-body">
                          <a href="#">
                              <img src="https://images.unsplash.com/photo-1533756102515-155e3863ee1c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=634&q=80"
                              style="width: 100%; height: 150px; object-fit: cover;" alt="">
                              <h5>Name</h5>
                          </a>
                        </div>
                    </div>
                </li>
                <li class="splide__slide">
                    <div class="card me-1">
                        <div class="card-body">
                          <a href="#">
                              <img src="https://images.unsplash.com/photo-1533756102515-155e3863ee1c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=634&q=80"
                              style="width: 100%; height: 150px; object-fit: cover;" alt="">
                              <h5>Name</h5>
                          </a>
                        </div>
                    </div>
                </li>
                <li class="splide__slide">
                    <div class="card me-1">
                        <div class="card-body">
                          <a href="#">
                              <img src="https://images.unsplash.com/photo-1533756102515-155e3863ee1c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=634&q=80"
                              style="width: 100%; height: 150px; object-fit: cover;" alt="">
                              <h5>Name</h5>
                          </a>
                        </div>
                    </div>
                </li>
                <li class="splide__slide">
                    <div class="card me-1">
                        <div class="card-body">
                          <a href="#">
                              <img src="https://images.unsplash.com/photo-1533756102515-155e3863ee1c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=634&q=80"
                              style="width: 100%; height: 150px; object-fit: cover;" alt="">
                              <h5>Name</h5>
                          </a>
                        </div>
                    </div>
                </li>
                <li class="splide__slide">
                    <div class="card me-1">
                        <div class="card-body">
                          <a href="#">
                              <img src="https://images.unsplash.com/photo-1533756102515-155e3863ee1c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=634&q=80"
                              style="width: 100%; height: 150px; object-fit: cover;" alt="">
                              <h5>Name</h5>
                          </a>
                        </div>
                    </div>
                </li>
                <li class="splide__slide">
                    <div class="card me-1">
                        <div class="card-body">
                          <a href="#">
                              <img src="https://images.unsplash.com/photo-1533756102515-155e3863ee1c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=634&q=80"
                              style="width: 100%; height: 150px; object-fit: cover;" alt="">
                              <h5>Name</h5>
                          </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>


    <div class="mt-4">
        <h3 class="base-font">All Products</h3>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <img src="#" style="width: 100%; height: 200px; object-fit: cover;" alt="">
                <div class="card-body text-center">
                    <p>Fresh Meat</p>
                    <h5>$30.00</h5>
                </div>
            </div>  
        </div> <!--col-3-->
        <div class="col-md-3">
            <div class="card">
                <img src="#" style="width: 100%; height: 200px; object-fit: cover;" alt="">
                <div class="card-body text-center">
                    <p>Fresh Meat</p>
                    <h5>$30.00</h5>
                </div>
            </div>  
        </div> <!--col-3-->

        <div class="col-md-3">
            <div class="card">
                <img src="#" style="width: 100%; height: 200px; object-fit: cover;" alt="">
                <div class="card-body text-center">
                    <p>Fresh Meat</p>
                    <h5>$30.00</h5>
                </div>
            </div>  
        </div> <!--col-3-->

        <div class="col-md-3">
            <div class="card">
                <img src="#" style="width: 100%; height: 200px; object-fit: cover;" alt="">
                <div class="card-body text-center">
                    <p>Fresh Meat</p>
                    <h5>$30.00</h5>
                </div>
            </div>  
        </div> <!--col-3-->

        <div class="col-md-3">
            <div class="card">
                <img src="#" style="width: 100%; height: 200px; object-fit: cover;" alt="">
                <div class="card-body text-center">
                    <p>Fresh Meat</p>
                    <h5>$30.00</h5>
                </div>
            </div>  
        </div> <!--col-3-->

        <div class="col-md-3">
            <div class="card">
                <img src="#" style="width: 100%; height: 200px; object-fit: cover;" alt="">
                <div class="card-body text-center">
                    <p>Fresh Meat</p>
                    <h5>$30.00</h5>
                </div>
            </div>  
        </div> <!--col-3-->

        <div class="col-md-3">
            <div class="card">
                <img src="#" style="width: 100%; height: 200px; object-fit: cover;" alt="">
                <div class="card-body text-center">
                    <p>Fresh Meat</p>
                    <h5>$30.00</h5>
                </div>
            </div>  
        </div> <!--col-3-->

        <div class="col-md-3">
            <div class="card">
                <img src="#" style="width: 100%; height: 200px; object-fit: cover;" alt="">
                <div class="card-body text-center">
                    <p>Fresh Meat</p>
                    <h5>$30.00</h5>
                </div>
            </div>  
        </div> <!--col-3-->

    </div><!--row-->
    <nav aria-label="Page navigation example" class="mt-3">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>

</div>


{%endblock content%}



{%block script%}
<script>

        
    new Splide( '.catsplide', {
         type   : 'loop',
         perPage: catpage,
         focus  : 'center',
         autoplay    : true,
         pauseOnHover: true,
     } ).mount();
 </script>
{%endblock script%}