{% extends 'base.html' %}

{%block title %}Category{%endblock title%}

{%block content%}

{% include 'home/nav_partial.html' %}

<div class="mt-2">
    <div class="p-4  bg-category" style="background-image: url('https://images.unsplash.com/photo-1602984338060-bfddce132ebc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');">
        <div class="p-4 text-white bg-slider text-center base-font">
            <h4>Checkout</h4>
            <nav aria-label="breadcrumb" class="d-flex justify-content-center">
                <ol class="breadcrumb text-center">
                  <li class="breadcrumb-item"><a href="{% url 'home-page' %}">Home</a></li>
                  <li class="breadcrumb-item"><a href="{%url 'cart-page' %}">cart</a></li>

                  <li class="breadcrumb-item active" aria-current="page">checkout</li>
                </ol>
              </nav>
            </div>
        
    </div>
</div>

<div class="container mb-3">

    <div class="row g-5 mt-5">
        <div class="col-md-5 col-lg-4 order-md-last">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-primary"><i class="uil uil-shopping-bag"></i> Your cart</span>
            <span class="badge bg-primary rounded-pill">{{cart_count}}</span>
          </h4>
          <ul class="list-group mb-3">
              {%for c in cart %}
            <li class="list-group-item d-flex justify-content-between lh-sm">
              <div>
                <h6 class="my-0">{{c.product.name}}</h6>
                <small class="text-muted">{{c.quantity}} x {{c.product.price}}</small>
              </div>
              <span class="text-muted">${{c.total}}</span>
            </li>
            {% endfor %}
            
            <li class="list-group-item d-flex justify-content-between">
              <span>Total (BDT)</span>
              <strong>&#x9f3;{{cart_total.total__sum | floatformat:2 }}</strong>
            </li>
          </ul>
  
          
        </div>
        <div class="col-md-7 col-lg-8">
          <h4 class="mb-3"><i class="uil uil-house-user"></i> Billing address</h4>
          <form class="needs-validation" method="POST">
              {% csrf_token %}
              <!-- <input type="text" value="" name="total" style="visibility: hidden;"> -->
            <div class="row g-3">
              <div class="col-sm-6">
                <label for="firstName" class="form-label">First name</label>
                <input type="text" class="form-control" id="firstName" placeholder="" value="{{user.first_name}}" name="fname" required>
                <div class="invalid-feedback">
                  Valid first name is required.
                </div>
              </div>
  
              <div class="col-sm-6">
                <label for="lastName" class="form-label">Last name</label>
                <input type="text" class="form-control" id="lastName" placeholder="" value="{{user.last_name}}" name="lname" required>
                <div class="invalid-feedback">
                  Valid last name is required.
                </div>
              </div>
  
              <div class="col-12">
                <label for="phone" class="form-label">phone</label>
                <div class="input-group has-validation">
                  <span class="input-group-text"><i class="uil uil-mobile-android-alt"></i></span>
                  <input type="text" class="form-control" id="username" value="{{user.profile.phone}}" name="phone" placeholder="+88012345678" required>
                <div class="invalid-feedback">
                    Your phone no is required.
                  </div>
                </div>
              </div>
  
              <div class="col-12">
                <label for="email" class="form-label">Email <span class="text-muted">(Optional)</span></label>
                <input type="email" class="form-control" value="{{user.username}}" id="email" name="email" placeholder="you@example.com">
                <div class="invalid-feedback">
                  Please enter a valid email address for shipping updates.
                </div>
              </div>
  
              <div class="col-12">
                <label for="address" class="form-label">Address</label>
                <input type="text" value="{{user.profile.address}}" class="form-control" id="address" name="address" placeholder="1234 Main St" required>
                <div class="invalid-feedback">
                  Please enter your shipping address.
                </div>
              </div>
  
              <div class="col-12">
                <label for="address2" class="form-label">Address 2 <span class="text-muted">(Optional)</span></label>
                <input type="text" value="{{user.profile.address_two}}" class="form-control" name="address_two" id="address2" placeholder="Apartment or suite">
              </div>



  
              <!-- <div class="col-md-5">
                <label for="country" class="form-label">Country</label>
                <select class="form-select" id="country" required>
                  <option value="">Choose...</option>
                  <option>United States</option>
                </select>
                <div class="invalid-feedback">
                  Please select a valid country.
                </div>
              </div> -->
  
              <!-- <div class="col-md-4">
                <label for="state" class="form-label">State</label>
                <select class="form-select" id="state" required>
                  <option value="">Choose...</option>
                  <option>California</option>
                </select>
                <div class="invalid-feedback">
                  Please provide a valid state.
                </div>
              </div>
  
              <div class="col-md-3">
                <label for="zip" class="form-label">Zip</label>
                <input type="text" class="form-control" id="zip" placeholder="" required>
                <div class="invalid-feedback">
                  Zip code required.
                </div>
              </div> -->
            </div>
  
            <hr class="my-4">
  
            <!-- <div class="form-check">
              <input type="checkbox" class="form-check-input" id="same-address">
              <label class="form-check-label" for="same-address">Shipping address is the same as my billing address</label>
            </div>
  
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="save-info">
              <label class="form-check-label" for="save-info">Save this information for next time</label>
            </div> -->
  
            <hr class="my-4">
  
            <h4 class="mb-3">Payment</h4>
  
            <div class="my-3">
             

                <div class="form-check">
                  <input onclick="javascript:yesnoCheck();"  id="credit" name="cash" type="radio" class="form-check-input"  >
                  <label  class="form-check-label" for="credit">Bkash</label>
                </div>
                <div class="form-check">
                  <input  onclick="javascript:yesnoCheck();" id="debit" name="cash" type="radio" class="form-check-input"  >
                  <label class="form-check-label" for="debit">Cash on delivery</label>
                </div> 
              <!-- <div class="form-check">
                <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" required>
                <label class="form-check-label" for="paypal">PayPal</label>
              </div> -->
            </div>
  
            <div class="row gy-3" id="bkashv">

                <div class="col-md-12 text-center">
                    <p> <img src="https://www.logo.wine/a/logo/BKash/BKash-Icon2-Logo.wine.svg" style="width: 25px; height: 25px;" alt="">
                        SEND MONEY TO THIS NO:{% if cart_owner.cart_owner %} {{cart_owner.cart_owner.shop_owner.bkash_no}} {%else %}01998044357 {%endif %}</p>
                         
                </div>
              <div class="col-md-6">
                <label for="cc-name" class="form-label">Bkash no</label>
                <input type="text" class="form-control" id="cc-name" name="bkash_no" placeholder="" >
                <div class="invalid-feedback">
                  Name on card is required
                </div>
              </div>
  
              <div class="col-md-6">
                <label for="cc-number" class="form-label">Bkash transaction no</label>
                <input type="text" class="form-control" id="cc-number" name="bkash_trans" placeholder="" >
                <small class="text-muted">make sure you write the right no</small>

                <div class="invalid-feedback">
                  bkash transaction number is required
                </div>
              </div>


  
          
  
            </div>

            <div class="form-check form-switch">
              <input class="form-check-input" name="saveInfo" type="checkbox" id="flexSwitchCheckChecked" checked>
              <label class="form-check-label" for="flexSwitchCheckChecked">Save my info for future use</label>
            </div>
  
            <hr class="my-4">
  
            <button class="w-100 btn btn-primary btn-sm" type="submit"><i class="uil uil-transaction"></i> Continue to checkout</button>
          </form>
        </div>
      </div>

</div>



{% endblock %}


{%block script %}

<script>
    
    function yesnoCheck() {
        let el = document.getElementById('bkashv')
    if (document.getElementById('credit').checked) {
      // document.getElementById('debit').checked= false
        el.classList.add("d-flex")
        el.classList.remove("d-none");
    } else {
      // document.getElementById('credit').checked = false
      
        el.classList.add("d-none")
        el.classList.remove("d-flex");
        // document.getElementById('bkashv').classList.add("d-none").classList.remove("d-flex");;
    }
}
</script>

{% endblock script %}