{% extends 'base.html' %}


{%block content%}

{% include 'home/nav_partial.html' %}

<div class="mt-2">
    <div class="p-4  bg-category" style="background-image: url('https://images.unsplash.com/photo-1602984338060-bfddce132ebc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');">
        <div class="p-4 text-white bg-slider text-center base-font">
            <h4>CHECK OUT</h4>
            <nav aria-label="breadcrumb" class="d-flex justify-content-center">
                <ol class="breadcrumb text-center">
                  <li class="breadcrumb-item"><a href="{% url 'home-page' %}">Home</a></li>
                  <!-- <li class="breadcrumb-item"><a href="#">category</a></li> -->

                  <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                </ol>
              </nav>
            </div>
        
    </div>
</div>

    <div class="container">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Phone</th>
                <th scope="col">Name</th>
                <th scope="col">Status</th>
                <th scope="col">Info</th>

                {% if request.user.is_authenticated %}
                <!-- <th scope="col">#</th> -->
                {%endif%}
              </tr>
            </thead>
            <tbody>
                {% for obj in orders %}
              <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{obj.phone_no}}</td>
                <td>{{obj.first_name}} {{obj.last_name}}</td>
                <td>{% if obj.complete %} <span class="badge bg-success">Delivered</span> {%else%} <span class="badge bg-warning">Pending</span> {%endif%}</td>
                <td><a data-bs-toggle="modal" data-bs-target="#exampleModal-{{obj.id}}" href="#" class="btn btn-sm btn-custom">view</a></td>
                {% if request.user.is_authenticated %}
                <!-- <td><a href="#" class="btn btn-info btn-sm">Confirm payment</a></td> -->
                {% endif%}
              </tr>


              <!--===========================-->
              <div class="modal fade" id="exampleModal-{{obj.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Requested Product</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <ul class="list-group mb-3">
                        {%for c in cart %}
                          {%if c.order.id == obj.id %}
                      <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                          <h6 class="my-0">{{c.product.name}}</h6>
                          <small class="text-muted">{{c.quantity}} x {{c.product.price}}</small>
                        </div>
                        <span class="text-muted">${{c.total}}</span>
                      </li>
                      {%endif%}
                      {% endfor %}
                      
                      <li class="list-group-item d-flex justify-content-between">
                        <span>Total (BDT)</span>
                        <strong>&#x9f3;{{obj.total}}</strong>
                      </li>
                      <hr>
                      <li class="list-group-item d-flex justify-content-between">
                        <span>Main Address</span>
                        <strong>{{obj.address}}</strong>
                      </li>
                      <li class="list-group-item d-flex justify-content-between">
                        <span>Main Address</span>
                        <strong>{{obj.address_two}}</strong>
                      </li>
                      <li class="list-group-item d-flex justify-content-between">
                        <span>Phone</span>
                        <strong>{{obj.phone_no}}</strong>
                      </li>
                      <li class="list-group-item d-flex justify-content-between">
                        <span>Full Name</span>
                        <strong>{{obj.first_name}} {{obj.last_name}}</strong>
                      </li>
                      <li class="list-group-item d-flex justify-content-between">
                        <span>Payment method</span>
                        <strong>{{obj.payment}}</strong>
                      </li>
                      {% if obj.payment == 'BKASH' %}
                      <li class="list-group-item d-flex justify-content-between">
                        <span>Bkask no</span>
                        <strong>{{obj.bkash_no}}</strong>
                      </li>

                      <li class="list-group-item d-flex justify-content-between">
                        <span>Bkask transaction no</span>
                        <strong>{{obj.bkash_trans}}</strong>
                      </li>

                      {%endif%}
                    </ul>
              
                    </div>
                    <div class="modal-footer">
                      <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                      <!-- <button type="button" class="btn btn-primary">Save changes</button>
                       -->
                       <a href="{{obj.confirm_payment}}" class="btn btn-sm btn-success">Confirm Payment</a>
                    </div>
                  </div>
                </div>
              </div>
            {%endfor%}
            </tbody>
          </table>


          <nav aria-label="Page navigation example" class="mt-3">
            {% if orders.has_other_pages %}
              <ul class="pagination justify-content-center">
                {% if orders.has_previous %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ orders.previous_page_number }}">Previous</a>
                  </li>
                {% else %}
                  <li class="disabled page-item">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                  </li>
                {% endif %}
                {% for i in orders.paginator.page_range %}
                  {% if orders.number == i %}
                    <li class="active page-item"><a class="page-link" href="#">{{ i }}</a></li>
                  {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if orders.has_next %}
                  <li class="page-item"><a class="page-link" href="?page={{ orders.next_page_number }}">Next</a></li>
                {% else %}
                  <li class="disabled page-item">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                  </li>
                {% endif %}
              </ul>
            {% endif %}
      
            </nav>

    </div>

{%endblock%}