{% extends 'base.html' %}


{%block content%}

{% include 'home/nav_partial.html' %}

<div class="mt-2">
    <div class="p-4  bg-category" style="background-image: url('https://images.unsplash.com/photo-1602984338060-bfddce132ebc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');">
        <div class="p-4 text-white bg-slider text-center base-font">
            <h4>CHECK OUT</h4>
            <nav aria-label="breadcrumb" class="d-flex justify-content-center">
                <ol class="breadcrumb text-center">
                  <li class="breadcrumb-item"><a href="{% url 'home-page' %}">Home</a></li>
                  <!-- <li class="breadcrumb-item"><a href="#">category</a></li> -->

                  <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                </ol>
              </nav>
            </div>
        
    </div>
</div>

    <div class="container">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Phone</th>
                <th scope="col">Name</th>
                <th scope="col">Status</th>
                <th scope="col">Info</th>

                {% if request.user.is_authenticated %}
                <th scope="col">#</th>
                {%endif%}
              </tr>
            </thead>
            <tbody>
                {% for obj in orders %}
              <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{obj.phone_no}}</td>
                <td>{{obj.first_name}} {{obj.last_name}}</td>
                <td>{% if obj.complete %} Delivered {%else%} Pending {%endif%}</td>
                <td><a data-bs-toggle="modal" data-bs-target="#exampleModal-{{obj.id}}" href="#" class="btn btn-sm btn-warning">view</a></td>
                {% if request.user.is_authenticated %}
                <td><a href="#" class="btn btn-info btn-sm">Confirm payment</a></td>
                {% endif%}
              </tr>


              <!--===========================-->
              <div class="modal fade" id="exampleModal-{{obj.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Requested Product</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <ul class="list-group mb-3">
                        {%for c in cart %}
                          {%if c.order.id == obj.id %}
                      <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                          <h6 class="my-0">{{c.product.name}}</h6>
                          <small class="text-muted">{{c.quantity}} x {{c.product.price}}</small>
                        </div>
                        <span class="text-muted">${{c.total}}</span>
                      </li>
                      {%endif%}
                      {% endfor %}
                      
                      <li class="list-group-item d-flex justify-content-between">
                        <span>Total (BDT)</span>
                        <strong>&#x9f3;</strong>
                      </li>
                    </ul>
              
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
            {%endfor%}
            </tbody>
          </table>

    </div>

{%endblock%}