{% extends 'base.html' %}
{% load static %}

{%block content%}

{% include 'home/nav_partial.html' %}


<!-- {{user}} -->
<div class="mt-2">
    <div class="p-4  bg-category" style="background-image:url('{{user.shop_owner.image.url}}');">
        <div class="p-4 text-white bg-slider text-center base-font">
            <h4>{{user.shop_owner.shop_name}}</h4>
          
            </div>
        
    </div>
</div>




    <div class="container mt-2 mb-2">
        <div class="mt-4">
            <h3 class="base-font">Top Sale</h3>
        </div>

        
    <div class="splide catsplide">
        <div class="splide__track">
            <ul class="splide__list">

                {% for obj in user.user_product.all %}
                    {%if obj.top_sell %}
                <li class="splide__slide">
                    <div class="card me-2">
                        <div class="card-body">
                          <a href="#" class="text-decoration-none text-center">
                            <div class="img-container text-center">
                                <img src="{{obj.image.url}}" alt="{{obj.name}}" style="width: 100%; height: 200px; object-fit: cover;" >
                                <div class="overlay">
                                  <div>
                                    <a href="{{obj.add_to_cart}}" class="btn btn-sm fw-bold text-white mt-1"><i class="uil uil-shopping-cart-alt"></i> Add to cart</a>
                             | <a href="{{obj.get_absolute_url}}" class="btn btn-sm fw-bold text-white mt-1"><i class="uil uil-angle-up"></i> Info</a>
                                  
                                  </div>
                                </div>
                              </div>
                              <h5 class="mt-2">{{obj.name}}</h5>
                              <h5>&#2547;{{obj.price}}</h5>
                          </a>
                        </div>
                    </div>
                </li>
                {%endif%}
                {%endfor%}     
            </ul>
        </div>
    </div>
    <!---->


    <div class="mt-4">
        <h3 class="base-font">All Products</h3>
    </div>

    <div class="row g-1">

        {% for obj in user.user_product.all %}
        <div class="col-md-3 mb-1">
            <div class="card">

                <div class="card-body text-center">
                    <div class="img-container">
                        <img src="{% if obj.image %} {{obj.image.url}} {%else%} {% static 'img/noimg.png' %} {%endif %}" alt="{{obj.name}}" style="width: 100%; height: 200px; object-fit: cover;" >
                        <div class="overlay">
                          <div>
                              <a href="{{obj.add_to_cart}}" class="btn btn-sm fw-bold text-white mt-1"><i class="uil uil-shopping-cart-alt"></i> Add to cart</a>
                              |
                              <a href="{{obj.get_absolute_url}}" class="btn btn-sm fw-bold text-white mt-1"><i class="uil uil-angle-up"></i> Info</a>
                              
                        </div>
                        </div>
                      </div>

                    <p>{{obj.name}}</p>
                    <h5>&#2547;{{obj.price}}</h5>
                    <!-- <p></p> -->
                </div>
            </div>  
        </div> <!--col-3-->
        {% endfor %}
    

    </div><!--row-->
   
</div>
{%endblock%}



{%block script%}
<script>

        
    new Splide( '.catsplide', {
         type   : 'loop',
         perPage: catpage,
         focus  : 'center',
         autoplay    : true,
         pauseOnHover: true,
     } ).mount();
 </script>
{%endblock script%}