{% extends 'base.html' %}

{%block title %}Category{%endblock title%}

{%block content%}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <span class="ps-2"><i class="uil uil-align-left-justify"></i> <b>ALL CATEGORY</b></span>
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="category text-left category-dropdown">
                        <a href="{%url 'category' %}" class="p-2 ps-4 d-block">Fresh Meat</a>
                        <a href="#" class="p-2 ps-4 d-block">Fresh Meat</a>
                        <a href="#" class="p-2 ps-4 d-block">Fresh Meat</a>
                        <a href="#" class="p-2 ps-4 d-block">Fresh Meat</a>
                        <a href="#" class="p-2 ps-4 d-block">Fresh Meat</a>
                        <a href="#" class="p-2 ps-4 d-block">Fresh Meat</a>
                        <a href="#" class="p-2 ps-4 d-block">Fresh Meat</a>
                        <a href="#" class="p-2 ps-4 d-block">Fresh Meat</a>
                        <a href="#" class="p-2 ps-4 d-block">Fresh Meat</a>
                        <a href="#" class="p-2 ps-4 d-block">Fresh Meat</a>
                        <a href="#" class="p-2 ps-4 d-block">Fresh Meat</a>


                    </div>
                  </div>
                </div>
                <!----> 
              </div><!--accordion-->
        </div><!--col-3-->

        <div class="col-md-9">
            <div class="row g-0">
                <div class="col-8">
                    <form action="">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control p-3" placeholder="what do you need?" aria-label="Username">
                            <span class="input-group-text">SEARCH</span>
                          </div>
                    </form>
                </div>

              <div class="col-4">
                <div class="d-flex justify-content-center">
                    <a href="#" class="mt-2">Call</a>
                    <div class="ps-3">
                        <span class="fw-bold">01627566047</span> <br>
                    <span>support 24/7 times</span>
                    </div>
                </div>
              </div>
            </div><!--row-->
        </div>
    </div>
</div>


<div class="mt-2">
    <div class="p-4  bg-category" style="background-image: url('https://images.unsplash.com/photo-1602984338060-bfddce132ebc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');">
        <div class="p-4 text-white bg-slider text-center base-font">
            <h4>All Items</h4>
            <nav aria-label="breadcrumb" class="d-flex justify-content-center">
                <ol class="breadcrumb text-center">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item"><a href="#">category</a></li>

                  <li class="breadcrumb-item active" aria-current="page">Library</li>
                </ol>
              </nav>
            </div>
        
    </div>
</div>


<div class="container">
    <div class="row mt-5">
        <div class="col-md-6">
            <div>
                <img src="#" alt="" style="width: 100%; height: 350px;">
            </div>
        </div> <!--col-->

        <div class="col-md-6">
            <div>
            <h4><b>Product Name</b></h4>
            <p>Price: <b>$50.00</b></p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt quaerat nulla tenetur, illum impedit porro!</p>
            </div>

            <form action="" class="">
                <div class="d-flex" >
                    <button class="btn btn-dark" onclick="decrement()">-</button>
                    <input style="width: 20%;" min="0" value="0" id="counting" type="text" class="form-control text-center" placeholder="Username" aria-label="Username">
                    <button class="btn btn-dark" onclick="increment()">+</button>   
    
                    <button class="btn btn-primary ms-2">Add to cart</button>
                </div>
            </form>

            <br>
            <hr>
            <div class="mt-3">
                <div class="mt-2">
                    <span><b>Availability:</b> </span><span class="ms-4">In Stock</span>
                </div>
                <div class="mt-2">
                    <span><b>Availability:</b> </span><span class="ms-4">01 day shipping</span>
                </div>
                <div class="mt-2">
                    <span><b>Availability:</b> </span><span class="ms-4">0.2 kg</span>
                </div>

            </div>


            
        </div>
    </div> 


    <div class="mt-4 text-center">
        <h3 class="base-font">Related products</h3>
    </div>

    <div class="splide singsplide">
        <div class="splide__track">
            <ul class="splide__list">
                <li class="splide__slide">
                    <div class="card me-2">
                        <div class="card-body">
                          <a href="#">
                              <img src="https://images.unsplash.com/photo-1533756102515-155e3863ee1c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=634&q=80"
                              style="width: 100%; height: 150px; object-fit: cover;" alt="">
                              <h5>Name</h5>
                          </a>
                        </div>
                    </div>
                </li>
                <li class="splide__slide">
                    <div class="card me-1">
                        <div class="card-body">
                          <a href="#">
                              <img src="https://images.unsplash.com/photo-1533756102515-155e3863ee1c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=634&q=80"
                              style="width: 100%; height: 150px; object-fit: cover;" alt="">
                              <h5>Name</h5>
                          </a>
                        </div>
                    </div>
                </li>
                <li class="splide__slide">
                    <div class="card me-1">
                        <div class="card-body">
                          <a href="#">
                              <img src="https://images.unsplash.com/photo-1533756102515-155e3863ee1c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=634&q=80"
                              style="width: 100%; height: 150px; object-fit: cover;" alt="">
                              <h5>Name</h5>
                          </a>
                        </div>
                    </div>
                </li>
                <li class="splide__slide">
                    <div class="card me-1">
                        <div class="card-body">
                          <a href="#">
                              <img src="https://images.unsplash.com/photo-1533756102515-155e3863ee1c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=634&q=80"
                              style="width: 100%; height: 150px; object-fit: cover;" alt="">
                              <h5>Name</h5>
                          </a>
                        </div>
                    </div>
                </li>
                <li class="splide__slide">
                    <div class="card me-1">
                        <div class="card-body">
                          <a href="#">
                              <img src="https://images.unsplash.com/photo-1533756102515-155e3863ee1c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=634&q=80"
                              style="width: 100%; height: 150px; object-fit: cover;" alt="">
                              <h5>Name</h5>
                          </a>
                        </div>
                    </div>
                </li>
                <li class="splide__slide">
                    <div class="card me-1">
                        <div class="card-body">
                          <a href="#">
                              <img src="https://images.unsplash.com/photo-1533756102515-155e3863ee1c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=634&q=80"
                              style="width: 100%; height: 150px; object-fit: cover;" alt="">
                              <h5>Name</h5>
                          </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>


</div>


{%endblock content%}



{%block script%}
<script>

    new Splide( '.singsplide', {
         type   : 'loop',
         perPage: 4,
         focus  : 'center',
         autoplay    : true,
         pauseOnHover: true,
     } ).mount();


  let data = 0;
  
  //printing default value of data that is 0 in h2 tag
  document.getElementById("counting").value = data;
    
  //creation of increment function
  function increment() {
      data = data + 1;
      document.getElementById("counting").value = data;
  }
  //creation of decrement function
  function decrement() {
      data = data - 1;
      if( data < 1){
        data = 0

      } 
      document.getElementById("counting").value = data;
  }
 </script>
{%endblock script%}