{% extends 'dashboard/dashboard_base.html' %}


{%block content%}


<div class="container">
    <div class="p-3 text-center bg-dark text-light">
        <h4>Add Products</h4>
    </div>
 <div class="row g-1 mt-2">
     <div class="col-md-8">
   <div class="card ">
       <div class="card-body">
        <form class="row g-1 mt-2" enctype="multipart/form-data" method="POST">
            {%csrf_token%}
            <div class="col-md-12">
              <label for="inputEmail4" class="form-label">Shop Name</label>
              <input type="text" class="form-control" id="shopName" name="shopname" placeholder="give your shop name" required>
            </div>

            <div class="col-md-12">
                <label for="inputEmail4" class="form-label">Shop Type</label>
                <input type="text" class="form-control" id="shopType" name="shoptype" placeholder="your shop type" required>
            </div>

            <div class="col-md-12">
                <label for="inputEmail4" class="form-label">Shop Address</label>
                <input type="text" class="form-control" id="shopAddress" name="shopaddress" placeholder="give your location" required>
              </div>

              
              <div class="mb-3">
                <label for="formFile" class="form-label">Give a shop cover photo</label>
               
                <input class="form-control" type="file" name="pic" id="shopFile">
              </div>
    
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Create shop</button>
              </div>
        </form>
       </div>
   </div>
</div> <!--col-md-2-->

<div class="col-md-4">
    <div class="card">
        <div class="card-body">
            <img src="#" id="blah" alt="" class="img-fluid">
        </div>
    </div>

 </div>
</div>


{%endblock content%}


{%block script %}

<script>
    shopFile.onchange = evt => {
  const [file] = shopFile.files
  if (file) {
    blah.src = URL.createObjectURL(file)
  }
}
</script>

{%endblock script%}