{% extends 'dashboard/dashboard_base.html' %}


{%block content%}


<div class="container">
    <div class="p-3 text-center bg-dark text-light">
        <h4>{{title}}</h4>
    </div>
 <div class="row g-1 mt-2">
     <div class="col-md-8">
   <div class="card ">
       <div class="card-body">
        <form class="row g-1 mt-2" enctype="multipart/form-data" method="POST">
            {%csrf_token%}
            <div class="col-md-6">
              <label for="inputEmail4" class="form-label"><i class="uil uil-list-ol-alt"></i> বিভাগ নির্বাচন করুন</label>
              <select id="inputCategory" class="form-select" name="category" required>
                {%for cat in category%}
                <option>{{cat.name}}</option>
                {%endfor%}
              
              </select>
              <!-- <input type="text" class="form-control" id="categoryName" name="category" placeholder="give your shop name" required> -->
            </div>

            <div class="col-md-6">
                <label for="inputEmail4" class="form-label"><i class="uil uil-pen"></i> পণ্যের নাম</label>
                <input value="{{product.name}}" type="text" class="form-control" id="productName" name="pname" placeholder="Item name" required>
            </div>

            <div class="col-md-12">
                <label for="inputEmail4" class="form-label"><i class="uil uil-edit-alt"></i> পণ্যের বর্ণনা</label>
                <textarea type="text" class="form-control" 
                 id="descriptionID" name="description" placeholder="Product Description" required>
                 {{product.description}}
                </textarea>
                <!-- {{product.description}} -->
              </div>

              
              <div class="mb-3">
                <label for="formFile" class="form-label"><i class="uil uil-image-plus"></i> পণ্যের ছবি</label>
               
                <input class="form-control" type="file" name="pic" id="shopFile" >
              </div>
              <!-- {{product.image.url}} -->
              <div class="mb-3 col-md-6">
                <label for="formFile" class="form-label"><i class="uil uil-pricetag-alt"></i> পণ্যের বর্তমান মূল্য </label>
               
                <input value="{{product.price}}" class="form-control" type="number" min="1" name="currentprice" id="currentPrice" required>
              </div>

              <div class="mb-3 col-md-6">
                <label for="formFile" class="form-label"><i class="uil uil-pricetag-alt"></i> পণ্যের অতীত মূল্য</label>
               
                <input value="{{product.past_price}}" class="form-control" type="number" min="1" name="pastprice" id="pastPrice">
              </div>

              <div class="mb-3 col-md-6">
                <div class="form-check form-switch">
                  <input class="form-check-input" name="available" type="checkbox" id="flexSwitchCheckDefault">
                  <label class="form-check-label" for="flexSwitchCheckDefault">মজুদ</label>
                </div>
              </div>

              <div class="mb-3 col-md-6 ">
                <div class="form-check form-switch">
                  <input class="form-check-input" name="top" type="checkbox" id="flexSwitchCheckDefaulttop">
                  <label class="form-check-label" for="topsell">শীর্ষ বিক্রয়</label>
                </div>
              </div>

              <div class="mb-3 col-md-6">
                <label for="formFile" class="form-label">শিপিং দিন </label>
               
                <input value="{{product.shipping_day}}" class="form-control" type="number" min="1" name="shipday" id="shipDay" required>
              </div>

              <div class="mb-3 col-md-6">
                <label for="formFile" class="form-label">পণ্যের ওজন </label>
               
                <input value="{{product.weight}}" class="form-control" type="number" min="1" name="weight" step="0.01" id="weightDay">
              </div>


            <div class="col-12">
                <button type="submit" class="btn btn-primary"><i class="uil uil-plus"></i> পণ্য যোগ করুন</button>
              </div>
        </form>
       </div>
   </div>
</div> <!--col-md-2-->

<div class="col-md-4">
    <div class="card">
        <div class="card-body">
            <img src="{{product.image.url}}" id="blah" alt="" class="img-fluid">
        </div>
    </div>

 </div>
</div>


{%endblock content%}


{%block script %}

<script>
    shopFile.onchange = evt => {
  const [file] = shopFile.files
  if (file) {
    blah.src = URL.createObjectURL(file)
  }
}
</script>

{%endblock script%}