{% extends 'dashboard/dashboard_base.html' %}


{%block content%}


<div class="container">
    <div class="p-3 text-center bg-dark text-light">
        <h4>Add Products</h4>
    </div>
 <div class="row g-1 mt-2">
     <div class="col-md-8">
   <div class="card ">
       <div class="card-body">
        <form class="row g-1 mt-2" enctype="multipart/form-data" method="POST">
            {%csrf_token%}
            <div class="col-md-6">
              <label for="inputEmail4" class="form-label">Select a category</label>
              <select id="inputCategory" class="form-select" name="category" required>
                {%for cat in category%}
                <option>{{cat.name}}</option>
                {%endfor%}
              
              </select>
              <!-- <input type="text" class="form-control" id="categoryName" name="category" placeholder="give your shop name" required> -->
            </div>

            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Product Name</label>
                <input type="text" class="form-control" id="productName" name="pname" placeholder="Item name" required>
            </div>

            <div class="col-md-12">
                <label for="inputEmail4" class="form-label">Description</label>
                <textarea type="text" class="form-control"
                 id="descriptionID" name="description" placeholder="Product Description" required>
                </textarea>
              </div>

              
              <div class="mb-3">
                <label for="formFile" class="form-label">Product photo </label>
               
                <input class="form-control" type="file" name="pic" id="shopFile">
              </div>
    
              <div class="mb-3 col-md-6">
                <label for="formFile" class="form-label">Product Current Price </label>
               
                <input class="form-control" type="number" min="1" name="currentprice" id="currentPrice" required>
              </div>

              <div class="mb-3 col-md-6">
                <label for="formFile" class="form-label">Product past Price </label>
               
                <input class="form-control" type="number" min="1" name="pastprice" id="pastPrice">
              </div>

              <div class="mb-3 col-md-6">
                <div class="form-check form-switch">
                  <input class="form-check-input" name="available" type="checkbox" id="flexSwitchCheckDefault">
                  <label class="form-check-label" for="flexSwitchCheckDefault">Available</label>
                </div>
              </div>

              <div class="mb-3 col-md-6 ">
                <div class="form-check form-switch">
                  <input class="form-check-input" name="top" type="checkbox" id="flexSwitchCheckDefaulttop">
                  <label class="form-check-label" for="topsell">Top Sell</label>
                </div>
              </div>

              <div class="mb-3 col-md-6">
                <label for="formFile" class="form-label">Shipping Day </label>
               
                <input class="form-control" type="number" min="1" name="shipday" id="shipDay">
              </div>

              <div class="mb-3 col-md-6">
                <label for="formFile" class="form-label">Weight </label>
               
                <input class="form-control" type="number" min="1" name="weight" id="weightDay">
              </div>


            <div class="col-12">
                <button type="submit" class="btn btn-primary">Add Product</button>
              </div>
        </form>
       </div>
   </div>
</div> <!--col-md-2-->

<div class="col-md-4">
    <div class="card">
        <div class="card-body">
            <img src="#" id="blah" alt="" class="img-fluid">
        </div>
    </div>

 </div>
</div>


{%endblock content%}


{%block script %}

<script>
    shopFile.onchange = evt => {
  const [file] = shopFile.files
  if (file) {
    blah.src = URL.createObjectURL(file)
  }
}
</script>

{%endblock script%}