{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Free Web tutorials">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="moinulantu">
    <title>asifEco|Dashboard {%block title %} {%endblock title%}</title>

    <!---==========CSS==============-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <style>
    
    </style>
</head>
<body>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">EcoAsif</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

        
        </div>
      </nav>


      <section class="container-fluid mt-2">
          <div class="row g-1">
              <div class="col-md-4">
                <div class="d-flex flex-column flex-shrink-0 p-3 bg-light">
                    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
                      <span class="fs-4">DASHBOARD</span>
                    </a>
                    <hr>
                    <ul class="nav nav-pills flex-column mb-auto">
                      {% if request.user.shop_owner %}

                      <li class="nav-item">
                        <a href="{% url 'dashboard-shop' %}" class="nav-link active">
                          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
                          <i class="uil uil-shop"></i> Your Shop</a>
                      </li>

                      <hr>
                      <li>
                        <a href="{% url 'dashboard-add-product' %}" class="nav-link link-dark">
                          <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
                          <i class="uil uil-file-plus-alt"></i> Add Products
                        </a>
                      </li>

                      <li>
                        <a href="{% url 'dashboard-add-product' %}" class="nav-link link-dark">
                          <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
                          <i class="uil uil-file-plus-alt"></i> Your Products
                        </a>
                      </li>

                      {% else %}
                      <li class="nav-item">
                        <a href="{% url 'dashboard-create-shop' %}" class="nav-link active" aria-current="page">
                          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
                          <i class="uil uil-plus"></i> CREATE PERSONAL SHOP
                        </a>
                      </li>
                      {% endif %}

                      <hr>
                      <li>
                        <a href="#" class="nav-link link-dark">
                          <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
                          <i class="uil uil-shopping-bag"></i> Requested Orders
                        </a>
                      </li>
                      <li>
                        <a href="#" class="nav-link link-dark">
                          <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
                          Orders
                        </a>
                      </li>
                      <hr>
               
                      <li>
                        <a href="#" class="nav-link link-dark">
                          <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
                          Customers
                        </a>
                      </li>
                    </ul>
                    <hr>
                    <div class="dropdown">
                      <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                        <strong>{{request.user.first_name}} {{request.user.last_name}}</strong>
                      </a>
                      <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                        <!-- <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li> -->
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                      </ul>
                    </div>
                  </div>
              </div>

              <div class="col-md-8">
                {%block content%}

                {%endblock content%}
              </div>
          </div>
      </section>



  

    <!--============================JS====================-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>

      <script>
      
      </script>

    {%block script%}


    {%endblock script%}
</body>
</html>