{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="সস্তার হাট যমুনারহাব ">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="moinulantu@gmail.com">
    <title>jamunahub {%block title %} {%endblock title%}</title>
    <link rel="shortcut icon" href="https://static.wixstatic.com/media/4628e7_2546001f86e1436e8700304dddb2c24c~mv2.gif" type="image/x-icon">
    <!---==========CSS==============-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

 

    <style>
        .darkmode-toggle{
            z-index: 1111;
        }
    </style>
</head>
<body>


    {%include 'partial/navbar.html' %}

    {%block content%}

    {%endblock content%}

    <!-- <footer class="footer bg-dark text-white mt-4">
        <div class="container p-4 text-center">
          
            <h4 class="p-4">ECOASIF</h4>
        </div>
      </footer> -->


      <div class="text-center">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1745274959891245"
     crossorigin="anonymous"></script>
            <!-- jamunaunit -->
            <ins class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-1745274959891245"
                data-ad-slot="4295014489"
                data-ad-format="auto"
                data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
      </div>
    

      <div class="container-fluid p-2 mb-0 justify-content-center text-light bg-dark " style="overflow: hidden;">
        <footer>
            <div class="row my-5 justify-content-center">
                <div class="col-11">
                    <div class="row ">
                        <div class="col-xl-8 col-md-4 col-sm-4 col-12 my-auto mx-auto a">
                            <h3 class="text-muted mb-md-0 mb-5 bold-text">Jamunahub<sup><i class="uil uil-shopping-cart-alt"></i></sup></h3>
                            <p>সস্তার হাট যমুনারহাব </p>

                            <div>
                                <p class="social text-muted mb-0 bold-text"> 
                                    <a href="https://www.facebook.com/messages/t/100443292394699" target="_blank"><span class="fs-2"><i class="uil uil-facebook-messenger"></i></span></a> 
                                    <a href="https://www.facebook.com/Jamunahub-100443292394699/" target="_blank"><span class="fs-2"><i class="uil uil-facebook-f"></i></span></a>
                                     <!-- <span class="fs-2"><i class="uil uil-envelope-check"></i></span>  -->
                                     <!-- <span class="fs-2"><i class="fa fa-instagram" aria-hidden="true"></i></span>  -->
                                    </p><small class="rights"><span>&#174;</span>All Rights Reserved.| <a href="https://github.com/nilldiggonto" target="_blank">BENAPOLEITHOUSE(BIH)</a></small>
                            </div>
                        </div>
                        <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                            <!-- <h6 class="mb-3 mb-lg-4 bold-text "><b>MENU</b></h6>
                            <ul class="list-unstyled">
                                <li>Home</li>
                                <li>About</li>
                                <li>Blog</li>
                                <li>Portfolio</li>
                            </ul> -->
                        </div>
                        <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                            <h6 class="mb-3 mb-lg-4 text-muted bold-text mt-sm-0 mt-5"><b><i class="uil uil-estate"></i>ADDRESS</b></h6>
                            <p class="mb-1">Nolin bazar,Gopalpur, Tangail</p>
                            <!-- <p>SEAWOODS SECTOR</p> -->
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-xl-8 col-md-4 col-sm-4 col-12 my-auto mx-auto a">
                            
                        </div>
                        <!-- <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-1 align-self-end ">
                            <h6 class="mt-55 mt-2 text-muted bold-text"><b>romio hasan</b></h6><small>
                                 <span><i class="uil uil-envelope-minus"></i></span> romoh@gmail.com</small>
                        </div> -->
                        <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                            <h6 class="text-muted bold-text"><b>Jamunahub</b></h6><small>
                                <span><i class="uil uil-envelope-minus"></i></span> jamunahub@gmail.com</small>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- <button onclick="addDarkmodeWidget()">Click me</button> -->
    <!--============================JS====================-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
 


    <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
    <script>
    function addDarkmodeWidget() {
        // document.body.style.color = "white";
        new Darkmode().showWidget();
    }
    window.addEventListener('load', addDarkmodeWidget);
    </script>

      <script>
        let page = 4
        let catpage = 3
        let spage = 4
        // console.log(window.innerWidth)
        let b = window.innerWidth

        if (b < 600) {
            page = 1
            catpage = 1
            spage = 1
        }


        //cookies//===================================================
        
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function uuidv4() {
          return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
            var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
            return v.toString(16);
          });
        }

        let device = getCookie('device')

        if (device == null || device == undefined){
            device = uuidv4()
        }

        document.cookie ='device=' + device + ";domain=;path=/"
      </script>

    {%block script%}


    {%endblock script%}
</body>
</html>